* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
}

section {
  background-color: hsl(228, 33%, 97%);
  height: 100vh;
  display: flex;
  padding: 0 30%;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.comment-box {
  display: flex;
  background-color: white;
  font-size: 14px;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.comment-reply {
  display: flex;
}

.comment-reply .vline {
  background-color: hsl(223, 19%, 93%);
  width: 5px;
  margin: 0 50px;
}

.reply-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-count {
  background-color: hsl(228, 33%, 97%);
  color: hsl(238, 40%, 52%);
  font-weight: 500;
  padding: 10px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-self: flex-start;
  align-items: center;
}
.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-head {
  display: flex;
  justify-content: space-between;
}

img {
  height: 30px;
  width: 30px;
}

.comment-head .dname {
  font-weight: 500;
  color: hsl(212, 24%, 26%);
}

.comment-head .name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comment-head .trailing {
  display: flex;
  gap: 5px;
  align-items: center;
}

.comment-body {
  line-height: 22px;
}

.comment-text {
  background-color: white;
  padding: 25px 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border-radius: 10px;
}

button {
  background-color: hsl(238, 40%, 52%);
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.you {
  padding: 3px 8px;
  background-color: hsl(238, 40%, 52%);
  color: white;
  font-weight: 500;
  border-radius: 3px;
  font-size: 13px;
}

.delete {
  margin-right: 10px;
}

.reply-to {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
